<div class="container" style=" background-color: ; padding-left: 107px; padding-right: 104px;">
    <br><br><br><br>
    <a href=""><img class="img-responsive" src="header1.jpg"></a>
    <a href=""><img class="img-responsive" src="header2.jpg"></a>
    <a href=""><img class="img-responsive" src="header3.jpg"></a>
    <a href=""><img class="img-responsive" src="header4.jpg"></a>
    <a href=""><img class="img-responsive-fn" src="header5.jpg"></a>
    <br>
    <a href=""><img class="img-responsive-2" src="header6.jpg"></a>
    <a href=""><img class="img-responsive-2" src="header7.jpg"></a>
    <a href=""><img class="img-responsive-2" src="header8.jpg"></a>
    <a href=""><img class="img-responsive-2" src="header9.jpg"></a>
    <a href=""><img class="img-responsive-2" src="header10.jpg"></a>
    <a href=""><img class="img-responsive-fn2" src="header11.jpg"></a>



</div>

<div class="" style="background-color: ; padding-left: 107px; padding-right: 104px;">
    <div class="row" style="background-color: #de431c;">
        <img class="img-responsive" src="BibliotecasTitulo.png"> Visita los sitios que recomendamos
        <div class="col-md-12">
            <div id="Carousel" class="carousel slide">

                <ol class="carousel-indicators">
                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#Carousel" data-slide-to="1"></li>
                    <li data-target="#Carousel" data-slide-to="2"></li>
                    <li data-target="#Carousel" data-slide-to="3"></li>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="item active">
                        <div class="row">
                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="carusel1.jpg" alt="Image"
                                        style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="carusel2.jpg" alt="Image"
                                        style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="carusel3.jpg" alt="Image"
                                        style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="carusel4.jpg" alt="Image"
                                        style="max-width:100%;"></a></div>

                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                    <div class="item">
                        <div class="row">
                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="carusel5.jpg" alt="Image"
                                        style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="carusel6.jpg" alt="Image"
                                        style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="carusel7.jpg" alt="Image"
                                        style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="carusel8.jpg" alt="Image"
                                        style="max-width:100%;"></a></div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                    <div class="item">
                        <div class="row">
                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="carusel9.jpg" alt="Image"
                                        style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="carusel10.jpg" alt="Image"
                                        style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a data-toggle="pill" href="#menu2" class="thumbnail"><img
                                        src="carusel11.jpg" alt="Image" style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a data-toggle="pill" href="#menu1" class="thumbnail"><img
                                        src="carusel12.jpg" alt="Image" style="max-width:100%;"></a></div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                    <div class="item">
                        <div class="row">
                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="carusel13.jpg" alt="Image"
                                        style="max-width:100%;"></a></div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                </div>
                <!--.carousel-inner-->
                <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
            </div>
            <!--.Carousel-->


            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <h3>Menu 1</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3>Menu 2</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam.</p>
                </div>
                <div id="menu3" class="tab-pane fade">
                    <h3>Menu 3</h3>
                    <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                        explicabo.</p>
                </div>
            </div>

        </div>
    </div>
</div>