<style type="text/css">
    html,
    body {
        margin: 0;
        padding: 0;
    }

    * {
        box-sizing: border-box;
    }

    .slider {
        width: 50%;
        margin: 100px auto;
    }

    .slick-slide {
        margin: 0px 20px;
    }

    .slick-slide img {
        width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }


    .slick-slide {
        transition: all ease-in-out .3s;
        opacity: .2;
    }

    .slick-active {
        opacity: .5;
    }

    .slick-current {
        opacity: 1;
    }
</style>

<div class="container" style=" background-color: ; text-align: center;">
    <br><br><br><br>
    <a href=""><img class="img-responsive" src="header1.jpg"></a>
    <a href=""><img class="img-responsive" src="header2.jpg"></a>
    <a href=""><img class="img-responsive" src="header3.jpg"></a>
    <a href=""><img class="img-responsive" src="header4.jpg"></a>
    <a href=""><img class="img-responsive-fn" src="header5.jpg"></a>
    <br>
    <a href=""><img class="img-responsive-2" src="header6.jpg"></a>
    <a href=""><img class="img-responsive-2" src="header7.jpg"></a>
    <a href=""><img class="img-responsive-2" src="header8.jpg"></a>
    <a href=""><img class="img-responsive-2" src="header9.jpg"></a>
    <a href=""><img class="img-responsive-2" src="header10.jpg"></a>
    <a href=""><img class="img-responsive-fn2" src="header11.jpg"></a>



</div>

<div class="container" style="background-color: ;">
    <div class="row" style="background-color: #de431c;">
        <img class="imgcarrusel" src="BibliotecasTitulo.png">
        <span class="carruselnaranja"> <span class="visita">Visita los sitios que
                recomendamos</span>
            <div class="col-md-12">
                <div id="Carousel" class="carousel slide">

                    <ol class="carousel-indicators">
                        <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#Carousel" data-slide-to="1"></li>
                        <li data-target="#Carousel" data-slide-to="2"></li>
                        <li data-target="#Carousel" data-slide-to="3"></li>
                    </ol>

                    <!-- Carousel items -->
                    <div class="carousel-inner">

                        <div class="item active">
                            <div class="row">
                                <div class="col-md-3"><a data-toggle="pill" href="#menu1" class="thumbnail"><img
                                            src="carusel1.jpg" alt="Image" style="max-width:100%;"></a></div>
                                <div class="col-md-3"><a data-toggle="pill" href="#menu2" class="thumbnail"><img
                                            src="carusel2.jpg" alt="Image" style="max-width:100%;"></a></div>
                                <div class="col-md-3"><a data-toggle="pill" href="#menu3" class="thumbnail"><img
                                            src="carusel3.jpg" alt="Image" style="max-width:100%;"></a></div>
                                <div class="col-md-3"><a data-toggle="pill" href="#menu4" class="thumbnail"><img
                                            src="carusel4.jpg" alt="Image" style="max-width:100%;"></a></div>


                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                        <div class="item">
                            <div class="row">
                                <div class="col-md-3"><a data-toggle="pill" href="#menu5" class="thumbnail"><img
                                            src="carusel5.jpg" alt="Image" style="max-width:100%;"></a></div>
                                <div class="col-md-3"><a data-toggle="pill" href="#menu6" class="thumbnail"><img
                                            src="carusel6.jpg" alt="Image" style="max-width:100%;"></a></div>
                                <div class="col-md-3"><a data-toggle="pill" href="#menu7" class="thumbnail"><img
                                            src="carusel7.jpg" alt="Image" style="max-width:100%;"></a></div>
                                <div class="col-md-3"><a data-toggle="pill" href="#menu8" class="thumbnail"><img
                                            src="carusel8.jpg" alt="Image" style="max-width:100%;"></a></div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                        <div class="item">
                            <div class="row">
                                <div class="col-md-3"><a data-toggle="pill" href="#menu9" class="thumbnail"><img
                                            src="carusel9.jpg" alt="Image" style="max-width:100%;"></a></div>
                                <div class="col-md-3"><a data-toggle="pill" href="#menu10" class="thumbnail"><img
                                            src="carusel10.jpg" alt="Image" style="max-width:100%;"></a></div>
                                <div class="col-md-3"><a data-toggle="pill" href="#menu11" class="thumbnail"><img
                                            src="carusel11.jpg" alt="Image" style="max-width:100%;"></a></div>
                                <div class="col-md-3"><a data-toggle="pill" href="#menu12" class="thumbnail"><img
                                            src="carusel12.jpg" alt="Image" style="max-width:100%;"></a></div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                        <div class="item">
                            <div class="row">
                                <div class="col-md-3"><a data-toggle="pill" href="#menu13" class="thumbnail"><img
                                            src="carusel13.jpg" alt="Image" style="max-width:100%;"></a></div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                    </div>
                    <!--.carousel-inner-->
                    <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                    <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                </div>
                <!--.Carousel-->


                <div class="tab-content">
                    <div id="menu1" class="tab-pane fade in active">
                        <span class="carruselnaranja">
                            <b>Ciberoteca.com</b><br>
                            <p>¿Una biblioteca de bibliotecas? ¡Así es! En este portal podrás encontrar más de 130 mil
                                enlaces a textos literarios, científicos y técnicos, disponibles de forma gratuita en
                                Internet. Sólo ingresa el título de la obra en el buscador, para encontrar vínculos a
                                las
                                bibliotecas que cuentan con la versión descargable del libro que buscas.</p>
                            <p>Además, Ciberoteca ofrece un índice de autores y foros de opinión donde podrás participar
                                de
                                acuerdo con tus intereses culturales.</p>
                        </span>
                        <p class="carruseln"><a class="carruseln" href="http://www.ciberoteca.com/homecas.asp"
                                target="_blank">http://www.ciberoteca.com/homecas.asp</a></p>

                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <b class="carruselnaranja">Biblioteca Digital Ciudad Seva</b><br>
                        <p class="carruselnaranja">Además de contar con un amplio acervo de cuentos, novelas y poesía de
                            autores reconocidos; en
                            este portal se organizan foros y talleres en línea acerca de diversos temas de literatura.
                        </p>
                        <p class="carruseln"><a class="carruseln" href="http://www.ciudadseva.com/bdcs/bdcs.htm"
                                target="_blank">http://www.ciudadseva.com/bdcs/bdcs.htm</a></p>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                        <b class="carruselnaranja">Poesía en español</b></br>
                        <p class="carruselnaranja">Si de poesía se trata, este portal cuenta con una amplia colección de
                            poemas de autores de todas
                            las épocas. Los poemas se pueden consultar de acuerdo con el siglo al que pertenecieron sus
                            autores, desde el siglo XIII hasta el siglo XXI; y en la sección “canciones”, se pueden
                            escuchar
                            audios de poemas recitados por diversas voces.</p>
                        <p class="carruseln"><a class="carruseln" href="http://www.poesi.as/index.html"
                                target="_blank">http://www.poesi.as/index.html</a></p>
                    </div>
                    <div id="menu4" class="tab-pane fade">
                        <b class="carruselnaranja">El libro total</b></br>
                        <p class="carruselnaranja">En este sitio se encuentra un interesante acervo de libros en
                            español, catalogados por países,
                            título o autor; también se pueden escuchar audiolibros y piezas musicales que se relacionan
                            con
                            las lecturas. Además de contar con una agradable interfaz, se pueden hacer comentarios y
                            enviar
                            o recomendar lo que más le guste a cada lector.</p>
                        <p class="carruseln"><a class="carruseln" href="http://www.ellibrototal.com/ltotal/"
                                target="_blank">http://www.ellibrototal.com/ltotal/</a></p>
                    </div>
                    <div id="menu5" class="tab-pane fade">
                        <b class="carruselnaranja">El Ingenioso Hidalgo Don Quijote de la Mancha</b><br>
                        <p class="carruselnaranja">Hace más de 400 años se publicó la novela más famosa en castellano
                            (español) de todos los
                            tiempos, mejor conocida como <strong>El Quijote</strong>; sobre ella se han hecho películas,
                            pinturas, grabados, esculturas, museos, traducciones a más de 50 idiomas, versiones para
                            niños y
                            jóvenes. Y en México se celebra el Festival Internacional Cervantino, año con año, en honor
                            a su
                            autor.</p>
                        <p class="carruseln"><a class="carruseln" href="http://quijote.bne.es/libro.html"
                                target="_blank">http://quijote.bne.es/libro.html</a></p>
                    </div>
                    <div id="menu6" class="tab-pane fade">
                        <b class="carruselnaranja">Biblioteca Digital del ILCE</b><br>
                        <p class="carruselnaranja">En este sitio encontrarás colecciones ilustradas de muy diversos
                            géneros literarios: cuentos,
                            novelas, textos de divulgación científica, historia. Editadas por reconocidas instituciones,
                            como el Fondo de Cultura Económica o CONAFE.</p>
                        <p class="carruseln"><a class="carruseln" href="http://bibliotecadigital.ilce.edu.mx/"
                                target="_blank">http://bibliotecadigital.ilce.edu.mx</a></p>
                    </div>
                    <div id="menu7" class="tab-pane fade">
                        <b class="carruselnaranja">Biblioteca Virtual Miguel de Cervantes</b><br>
                        <p class="carruselnaranja">Esta biblioteca virtual cuenta con libros, videos y audios para todos
                            los gustos y edades; en su
                            acervo digital encontrarás desde textos clásicos de literatura infantil hasta propuestas
                            pedagógicas y de enseñanza.</p>
                        <p class="carruseln"><a class="carruseln" href="http://www.cervantesvirtual.com/"
                                target="_blank">http://www.cervantesvirtual.com/</a></p>
                    </div>
                    <div id="menu8" class="tab-pane fade">
                        <b class="carruselnaranja">Biblioteca Digital Bicentenario</b><br>
                        <p class="carruselnaranja">Si lo que se quiere consultar es textos sobre historia de México,
                            esta biblioteca es el sitio
                            ideal; ya que se pueden leer en línea y descargar obras fundamentales sobre la
                            Independencia, la
                            Revolución y distintos períodos importantes de la historia de México. Además cuenta con
                            libros
                            dedicados a niños y jóvenes, así como una sección de biografías sobre personajes nacionales.
                        </p>
                        <p class="carruseln"><a class="carruseln" href="http://www.bicentenario.gob.mx/bdbic/"
                                target="_blank">http://www.bicentenario.gob.mx/bdbic/</a></p>
                    </div>
                    <div id="menu9" class="tab-pane fade">
                        <b class="carruselnaranja">Descarga Cultura UNAM<br>El podcast cultural de la
                            Universidad</b><br>
                        <p class="carruselnaranja">Este es un sitio altamente novedoso y tecnológico, ya que puedes
                            descargar las lecturas que más
                            te interesen en distintos formatos multimedia para escucharlos, verlos o almacenarlos en una
                            computadora o en un dispositivo móvil. El sitio cuenta, entre muchos otros recursos, con la
                            colección “Voces para el bachillerato”, donde podrás escuchar textos de distintas
                            disciplinas:
                            biología, química, letras, formación artística, sistema político mexicano, filosofía e
                            historia.
                        </p>
                        <p class="carruseln"><a class="carruseln" href="http://www.descargacultura.unam.mx/"
                                target="_blank">http://www.descargacultura.unam.mx/</a></p>
                    </div>
                    <div id="menu10" class="tab-pane fade">
                        <b class="carruselnaranja">Proyecto Gutenberg</b><br>
                        <p class="carruselnaranja">Es una biblioteca en constante crecimiento, que publica en línea en
                            catorce idiomas distintos. En
                            español, podrás encontrar más de 200 textos completos de autores europeos e
                            hispanoamericanos
                        </p>
                        <p class="carruseln"><a class="carruseln" href="http://www.gutenberg.org/browse/languages/es"
                                target="_blank">http://www.gutenberg.org/browse/languages/es</a></p>
                    </div>
                    <div id="menu11" class="tab-pane fade">
                        <b class="carruselnaranja">El Aleph</b><br>
                        <p class="carruselnaranja">Este portal cuenta con una biblioteca de más de 3,500 títulos en
                            español, que el usuario puede
                            leer en formato PDF de forma gratuita, una vez que se ha registrado. El sitio también cuenta
                            con
                            talleres literarios, clubs de lectura, subastas de libros y la posibilidad de publicar las
                            obras
                            de aquellos creadores que así lo deseen.</p>
                        <p class="carruseln"><a class="carruseln" href="http://www.elaleph.com/biblioteca.cfm"
                                target="_blank">http://www.elaleph.com/biblioteca.cfm</a></p>
                    </div>
                    <div id="menu12" class="tab-pane fade">
                        <b class="carruselnaranja">Omegalfa biblioteca libre</b><br>
                        <p class="carruselnaranja">Esta biblioteca cuenta con un amplio acervo de textos sobre las más
                            diversas temáticas: ciencias,
                            humanidades, actualidad, etc., la mayoría en formato PDF o Word, que se pueden descargar
                            fácilmente, ya sea para leer en línea o guardar en una computadora. Los textos están
                            catalogados
                            por tema, autor o título, en una interfaz muy sencilla que permite el rápido acceso y
                            disfrute
                            de las lecturas.</p>
                        <p class="carruseln"><a class="carruseln" href="http://www.omegalfa.es/index.php"
                                target="_blank">http://www.omegalfa.es/index.php</a></p>
                    </div>
                    <div id="menu13" class="tab-pane fade">
                        <b class="carruselnaranja">Material de lectura UNAM</b></br>
                        <p class="carruselnaranja">Si lo que deseas es leer cuento y poesía contemporánea, te
                            recomendamos entrar a este sitio, que
                            cuenta con un amplio catálogo de antologías de los más importantes autores de poesía y
                            cuento
                            modernos, es decir de escritores de los siglos XX y XXI de todo el mundo.</p>
                        <p class="carruseln"><a class="carruseln" href="http://www.materialdelectura.unam.mx/"
                                target="_blank">http://www.materialdelectura.unam.mx/</a></p>
                    </div>
                </div>

            </div>
    </div>
</div>

<div class="container">
    <br><br>
    <img src="novedades.png"><br><BR>
    <hr class="red">
    <row class="col-sm-6">
        <blockquote>
            Últimas novedades y eventos para mantener a estudiantes y maestros al día en torno a la cultura de las
            letras.
        </blockquote>
        <div class="col-md-6" style=" text-align: center;">
            <img src="nov1.png"><br>
            <a href="#">EVENTOS</a>
        </div>

        <div class="col-md-6" style=" text-align: center;">
            <img src="nov2.png"><br>
            <a href="#">EVENTOS NACIONALES</a>
        </div>
        <div class="col-md-6" style=" text-align: center;">
            <img src="nov3.png"><br>
            <a href="#">EVENTOS INTERNACIONALES</a>
        </div>
        <div class="col-md-6" style=" text-align: center;">
            <img src="nov4.png"><br>
            <a href="#">OTROS EVENTOS</a>
        </div>
    </row>
    <row class="col-sm-6">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <img src="car1.png" alt="Los Angeles" style="width:100%;">
                </div>
                <div class="item">
                    <img src="car2.png" alt="Chicago" style="width:100%;">
                </div>
                <div class="item">
                    <img src="car3.png" alt="New York" style="width:100%;">
                </div>
                <div class="item">
                    <img src="car4.png" alt="Los Angeles" style="width:100%;">
                </div>
                <div class="item">
                    <img src="car5.png" alt="Chicago" style="width:100%;">
                </div>
                <div class="item">
                    <img src="car6.png" alt="New York" style="width:100%;">
                </div>
                <div class="item">
                    <img src="car7.png" alt="Los Angeles" style="width:100%;">
                </div>
                <div class="item">
                    <img src="car8.png" alt="Chicago" style="width:100%;">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="">
                    << /span>
                        <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="">></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </row>
</div>
<br><br>
<div class="container">
    <h3>Conoce a....</h3>
    <hr class="red">

    <div id="Carousel" class="carousel slide">

        <ol class="carousel-indicators">
            <li data-target="#Carousel" data-slide-to="5"></li>
            <li data-target="#Carousel" data-slide-to="6"></li>
            <li data-target="#Carousel" data-slide-to="7"></li>
            <li data-target="#Carousel" data-slide-to="8"></li>
        </ol>

        <!-- Carousel items -->
        <div class="carousel-inner">

            <div class="item active">
                <div class="row">
                    <div class="col-md-4"><span class="thumbnail"><img src="conoce1.jpg" alt="Image"
                                style="max-width:100%;"></span></div>
                    <div class="col-md-4"><span class="thumbnail"><img src="conoce2.jpg" alt="Image"
                                style="max-width:100%;"></span></div>
                    <div class="col-md-4"><span class="thumbnail"><img src="conoce3.jpg" alt="Image"
                                style="max-width:100%;"></span></div>
                </div>
                <!--.row-->
            </div>
            <!--.item-->

            <div class="item">
                <div class="row">
                    <div class="col-md-4"><span class="thumbnail"><img src="conoce1.jpg" alt="Image"
                                style="max-width:100%;"></span></div>
                    <div class="col-md-4"><span class="thumbnail"><img src="conoce2.jpg" alt="Image"
                                style="max-width:100%;"></span></div>
                    <div class="col-md-4"><span class="thumbnail"><img src="conoce3.jpg" alt="Image"
                                style="max-width:100%;"></span></div>
                </div>
                <!--.row-->
            </div>

            <div class="item">
                <div class="row">
                    <div class="col-md-4"><span class="thumbnail"><img src="conoce1.jpg" alt="Image"
                                style="max-width:100%;"></span></div>
                    <div class="col-md-4"><span class="thumbnail"><img src="conoce2.jpg" alt="Image"
                                style="max-width:100%;"></span></div>
                    <div class="col-md-4"><span class="thumbnail"><img src="conoce3.jpg" alt="Image"
                                style="max-width:100%;"></span></div>
                </div>
                <!--.row-->
            </div>

        </div>
        <!--.carousel-inner-->

    </div>
    Jóvenes escritores, mexicanos y extranjeros, cuya obra destaca por su calidad y potencial en el mundo literario.<br>
    <p style="text-align: right;"><a href="">Ver más</a></p>


</div>
<br>
<div class="container">
    <img src="creacione.png" alt="">
    <br>
    <hr class="red">
    <div class="col-sm-6">
        <img class="img-responsive" src="creacion1.png" alt="">
    </div>
    <div class="col-sm-6">
        <table>

            <tbody>
                <tr>
                    <td style="border-bottom: 1px solid #CCCCCC;"><b>Título</b></td>
                    <td style="border-bottom: 1px solid #CCCCCC;"><b>Autor</b></td>
                </tr>
                <tr>
                    <td width="200">
                        <div class="retroz" title="Como_quisiera">Como quisiera</div>
                    </td>
                    <td>Jazmín Sánchez León</td>
                </tr>
                <tr>
                    <td>
                        <div class="retroz" title="Estrella_de_amor">Estrella de amor</div>
                    </td>
                    <td>Jazmín Sánchez León</td>
                </tr>
                <tr>
                    <td>
                        <div class="retroz" title="La_verdadera_amistad">La verdadera amistad</div>
                    </td>
                    <td>Dani Salinas</td>
                </tr>
                <tr>
                    <td>
                        <div class="retroz" title="Pajarín_pajarón">Pajarín, pajarón</div>
                    </td>
                    <td>Jamie Mirelle Vazquez Uribe </td>
                </tr>
                <tr>
                    <td>
                        <div class="retroz" title="El_rey_Sha">El rey Sha</div>
                    </td>
                    <td>Irma Elena Salas Herrera</td>
                </tr>
                <tr>
                    <td>
                        <div class="retroz" title="Algodón_de_azúcar">Algodón de azúcar</div>
                    </td>
                    <td>Jacqueline González Villeda</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

<div class="container">
    <h4>Ligas de interés</h4><br>
    <hr class="red">

</div>
<br>
<div class="container">
    <h4>Contacto</h4>
    <br>
    <hr class="red"><br>
    <div class="col-sm-4">


        República de Argentina #28, <br>
        Centro Histórico, Distrito Federal. C.P. 06020<br>

        Teléfono: (55) 36017599<br>
        Atención a la ciudadanía: (01 800) 288 6688<br>
        Secretaría de Educación Pública<br><br>

        <a target="_blank" href="http://www.educa.sep.gob.mx/EDUCA/CapPeticionWebCNT"> Ingresa tu petición aquí</a>

    </div>
</div><br>
<div class="container" style="background-color: #00ac92; color: white;">
    <div class="col-sm-4">
        GOBIERNO FEDERAL<br><br>
        <ul>
            <li><a class="footer" href="http://www.sep.gob.mx/" target="_blank" title="sep">Secretaría de Educación
                    Pública</a></li>
            <li><a href="http://www.ses.sep.gob.mx/" target="_blank">Subsecretaría de Educación Superior</a></li>
            <li><a href="http://www.sems.gob.mx/" target="_blank">Subsecretaría de Educación Media Superior</a></li>
            <li><a href="http://basica.sep.gob.mx/" target="_blank" title="Básica">Subsecretaría de Educación Básica</a>
            </li>
            <li><a href="http://www.stps.gob.mx/" target="_blank">Secretaría del Trabajo y Previsión Social</a></li>
            <li><a href="http://www.sre.gob.mx/" target="_blank">Secretaría de Relaciones Exteriores</a></li>
            <li><a href="http://www.televisioneducativa.gob.mx/" target="_blank">Dirección General de Televisión
                    Educativa, SEP</a></li>
            <li><a href="http://www.conaculta.gob.mx/" target="_blank">Consejo Nacional para la Cultura y las Artes</a>
            </li>
            <li><a href="http://www.fondodeculturaeconomica.com/" target="_blank">Fondo de Cultura Económica</a></li>
        </ul>
    </div>
    <div class="col-sm-4">
        ORGANIZACIONES E INSTITUCIONES<br><br>
        <ul>
            <li><a href="http://www.ilce.edu.mx" target="_blank">Instituto Latinoamericano de la Comunicación
                    Educativa</a></li>
            <li><a href="http://www.inee.edu.mx" target="_blank">Instituto Nacional para la Evaluación de la
                    Educación</a></li>
            <li><a href="http://questasleyendo.org" target="_blank">¿Que estás leyendo?</a></li>
            <li><a href="http://www.un.org/es/home/index.html" target="_blank">Naciones Unidas</a></li>
            <li><a href="http://www.unesco.org/new/es" target="_blank">UNESCO</a></li>
            <li><a href="http://www.tic.unam.mx/" target="_blank">Dirección General de Cómputo y de Tecnologías de
                    Información y Comunicación, UNAM</a></li>
        </ul>
    </div>
    <div class="col-sm-4">
        SUBSISTEMAS <br><br>
        <ul>
            <li><a href="http://www.cbachilleres.edu.mx" target="_blank">Colegio de Bachilleres</a></li>
            <li><a href="http://www.conalep.edu.mx" target="_blank">Conalep</a></li>
            <li><a href="http://www.dgb.sep.gob.mx/" target="_blank">Dirección General de Bachillerato</a></li>
            <li><a href="http://www.dgcft.sems.gob.mx" target="_blank">DGCFT</a></li>
            <li><a href="http://www.dgecytm.sep.gob.mx" target="_blank">DGECyTM</a></li>
            <li><a href="http://dgeta.sems.gob.mx/" target="_blank">DGETA</a></li>
            <li><a href="http://www.dgeti.sep.gob.mx" target="_blank">DGETI</a></li>
            <li><a href="http://www.conocer.gob.mx" target="_blank">CONOCER</a></li>
        </ul>
    </div>
</div>