<style>
    .imagen1{
        padding-right: 18px;
    }
    .imagen2{
        padding-right: 3px;
    }
</style>
<div class="container" style="text-align: ; background-color: ; width: 975px;" >
    <br><br><br><br>
<a href=""><img class="imagen1" src="header1.jpg"></a> 
<a href=""><img class="imagen1" src="header2.jpg"></a> 
<a href=""><img class="imagen1" src="header3.jpg"></a> 
<a href=""><img class="imagen1" src="header4.jpg"></a> 
<a href=""><img class="" src="header5.jpg"></a> 
<br><br>
<a href=""><img class="imagen2" src="header6.jpg"></a> 
<a href=""><img class="imagen2" src="header7.jpg"></a> 
<a href=""><img class="imagen2" src="header8.jpg"></a> 
<a href=""><img class="imagen2" src="header9.jpg"></a> 
<a href=""><img class="imagen2" src="header10.jpg"></a> 
<a href=""><img class="" src="header11.jpg"></a> 
<br><br><br>


</div>