.carruselnaranja{
    color: white;
}

.carruseln{
    color: white;
    font-style: italic;
    text-align: right;
    text-decoration-line: none;
    font-weight: bold; 
}

.carruseln:hover {
    color: white;
    text-decoration-line: none;
  }
  .imgcarrusel{
      padding: 4%;
  }
  .visita{
      padding-top: 100px;
  }
  .green{
    margin:10px 0 20px;
    border-top: 1px solid #cccccc;
    border-bottom: 0px inset #CCCCCC;
     position:relative;
    box-sizing: content-box;
    height: 0;
  }

  .footer{
      color: white;
  }